@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Orbitron:wght@700&family=Oxanium:wght@300&display=swap');



.ScreenStyle{
    border-radius: 18px;
    width: 330px;
    padding: 20px;
    height: 14px;
    text-align: right;
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Oxanium', cursive;
    border: 4px solid #F4D35E;
    color: #51BA65;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background: rgb(255,255,255);
    background: linear-gradient(283deg, rgba(255,255,255,0.9615702881619937) 35%, rgba(226,226,226,0.9522244937694704) 71%);
}