.OpBtnStyles{
    padding: 10px;
    width: 45px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 90%;
    background: rgb(44,75,67);
    background: linear-gradient(45deg, rgba(44,75,67,0.9615702881619937) 11%, rgba(46,78,70,0.9522244937694704) 32%, rgba(44,75,67,0.9179565809968847) 57%, rgba(44,75,67,0.9678008177570093) 75%, rgba(46,78,70,1) 91%);
}

.OpBtnStyles:hover{
    transform: scale(1.03);
    opacity: 100%;
}

